<div class="card">
  <%= link_to image_tag(product.image, class: :card__img ), product_path(product.id) %>
  <div class="card__body">
    <%= link_to product.title, product_path(product.id), method: :get, class: :card__title%>
      <p class="card__summary">
        <%= product.prefecture.name %>
      </p>
      <%= link_to product.user.nickname, user_path(product.user.id), class: :card__user %>
      <td id="favorite-<%= product.id %>">
        <%= render partial: 'favorites/favorite', locals: { product: product } %>
      </td>
  </div>
</div>
