<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: :greeting__link%>
      </div>
      <%= form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    <% end %>

    <div class="card__wrapper">
      <%= render partial: 'product', collection: @products %>
       <%#= @products.already_favorited?.count %>

       <%#= @products.favorited_users.count %>

      <!--div class="option">
        <div class="favorite-btn">
          <%#= image_tag "star.png" ,class:"icon" ,width:"20",height:"20"%>
          <span>お気に入り 0</span-->
          <!--div id="<%#= @product.id %> favorite"-->
            <%#= render "favorites/favorites", locals: {product: @product} %>
          <!--/div-->
        <!--/div>
      </div-->
    </div>
  </div>
</main>
